body{
  margin:0;
}
a {
  color:black;
  text-decoration:none;
}

h1 {
  border-bottom:1px solid black;
  font-size:45px;
  padding:30px;
  margin:0px;
}
h2 {
  font-size:35px;
}
#grid ol{
  font-size:17px;
  line-height:28px;
  border-right:1px solid gray;
  width:289px;
  padding:30px;
  margin:0;
}
#grid{
  display:grid;
  grid-template-columns:349px 1fr;
}
#grid #content{
  padding:30px;
  padding-top:0;
  padding-left:35px;
}
p{
  font-size: 17px;
  line-height:28px;
}
